{% extends "partials/layout.njk" %}
{% block title %}Register{% endblock %}
{% block content %}
  <form action="/register" method="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="password" placeholder="Password Confirmation" name="password_confirm">
    <input type="submit" value="Register">
  </form>
{% endblock %}