{% extends "partials/layout.njk" %}
{% block title %}Circle Answer{% endblock %}
{% block content %}
    <b>Area</b><br>
    A = πr<sup>2</sup><br>
    A = π{{ r }}<sup>2</sup><br>
    A = π{{ r*r }}<br>
    A = {{ a }}<br>

{% endblock %}