{% extends "partials/layout.njk" %}
{% block title %}Form{% endblock %}
{% block content %}
    <h1>Circle</h1>
    <form method="POST">
        <p>
            <label>
                Radius<br>
                <input type="number" placeholder="Radius" name="radius">
            </label>
        </p>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
{% endblock %}