{% extends "partials/layout.njk" %}
{% block title %}Form{% endblock %}
{% block content %}
    <h1>Form</h1>
    {% if fname and lname and age %}
        <p>Hello {{ fname }} {{ lname }}! You are {{ age }} years old!</p>
    {% endif %}
    <form>
        <p>
            <label>
                First name<br>
                <input type="text" placeholder="First Name" name="fname">
            </label>
        </p>
        <p>
            <label>
                Last name<br>
                <input type="text" placeholder="Last Name" name="lname">
            </label>
        </p>
        <p>
            <label>
                Age<br>
                <input type="number" min="0" max="200" step="0.1" placeholder="Age" name="age">
            </label>
        </p>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
{% endblock %}