{% extends "partials/layout.njk" %}
{% block title %}Add movie{% endblock %}
{% block content %}
  <form action="/movies/edit/{{movie.id}}" method="POST">
    <input type="text" placeholder="Movie name" name="movie" value="{{movie.name}}">
    <input type="number" placeholder="Movie year" name="year" value="{{movie.year}}">
    <textarea name="description" placeholder="Movie description">{{movie.description}}</textarea>
    <input type="submit" value="Update">
  </form>
{% endblock %}