{% extends "partials/layout.njk" %}
{% block title %}Home{% endblock %}
{% block content %}
    <a class="btn btn-primary mb-2" href="/movies/add">Add</a>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Year</th>
            <th>User</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{movie.id}}</td>
                    <td>{{movie.name}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.User.name}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href="/movies/view?id={{movie.id}}">View</a>
                            <a class="btn btn-warning" href="/movies/edit/{{movie.id}}">Edit</a>
                            <a class="btn btn-danger" href="/movies/delete/{{movie.id}}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}